
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 227.3rem;
}.home-6Pi {
  box-sizing: border-box;
  padding-bottom: 22.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #6e6e6e;
}
.home-6Pi .auto-group-gj56-S6C {
  margin: 0rem 0.792rem 11.5rem 0rem;
  width: 282.708rem;
  height: 357rem;
  position: relative;
  flex-shrink: 0;
}
.home-6Pi .auto-group-gj56-S6C .taskbar-JAL {
  width: 168.9rem;
  height: 14.4rem;
  position: absolute;
  left: 23.6rem;
  top: 5.8rem;
  background-color: #676767;
}
.home-6Pi .auto-group-gj56-S6C .gradian-jmS {
  width: 238.1318rem;
  height: 188.2081rem;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(50rem);
  background-color: rgba(204, 89, 151, 0.3199999928);
}
.home-6Pi .auto-group-gj56-S6C .home-2Ek {
  width: 25.6rem;
  height: 8.8rem;
  position: absolute;
  left: 33.6rem;
  top: 8.4rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
}
.home-6Pi .auto-group-gj56-S6C .about-JTA {
  width: 25.6rem;
  height: 8.8rem;
  position: absolute;
  left: 70.6rem;
  top: 8.5rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
}
.home-6Pi .auto-group-gj56-S6C .blog-nt8 {
  width: 25.6rem;
  height: 8.8rem;
  position: absolute;
  left: 112.6rem;
  top: 9.1rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
}
.home-6Pi .auto-group-gj56-S6C .contact-seg {
  width: 34rem;
  height: 8.8rem;
  position: absolute;
  left: 150.6rem;
  top: 8.4rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
}
.home-6Pi .auto-group-gj56-S6C .home-LYG {
  width: 17.9rem;
  height: 7.8rem;
  position: absolute;
  left: 37.6rem;
  top: 9.2rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-6Pi .auto-group-gj56-S6C .about-YuE {
  width: 18.2rem;
  height: 7.8rem;
  position: absolute;
  left: 74.6rem;
  top: 9.6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-6Pi .auto-group-gj56-S6C .skills-b6p {
  width: 15.5rem;
  height: 7.8rem;
  position: absolute;
  left: 117.6rem;
  top: 9.2rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-6Pi .auto-group-gj56-S6C .blog-RLk {
  width: 13.5rem;
  height: 7.8rem;
  position: absolute;
  left: 159.5rem;
  top: 8.9rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-6Pi .auto-group-gj56-S6C .intro-syS {
  width: 96.4rem;
  height: 91.6rem;
  position: absolute;
  left: 11.2rem;
  top: 50.4rem;
  filter: blur(37.5rem);
  background-color: #d15c5c;
}
.home-6Pi .auto-group-gj56-S6C .hey-there-im-jayasree-student-designer-uv8 {
  width: 71.4rem;
  height: 50.5rem;
  position: absolute;
  left: 14rem;
  top: 53.6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-6Pi .auto-group-gj56-S6C .hey-there-im-jayasree-student-designer-uv8 .hey-there-im-jayasree-student-designer-uv8-sub-0 {
  font-size: 12.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-6Pi .auto-group-gj56-S6C .hey-there-im-jayasree-student-designer-uv8 .hey-there-im-jayasree-student-designer-uv8-sub-1 {
}
.home-6Pi .auto-group-gj56-S6C .hey-there-im-jayasree-student-designer-uv8 .hey-there-im-jayasree-student-designer-uv8-sub-2 {
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-6Pi .auto-group-gj56-S6C .hey-there-im-jayasree-student-designer-uv8 .hey-there-im-jayasree-student-designer-uv8-sub-3 {
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.home-6Pi .auto-group-gj56-S6C .rectangle-1-tb2 {
  width: 163.6471rem;
  height: 151.8rem;
  position: absolute;
  left: 62.8609rem;
  top: 116.9rem;
  filter: blur(25rem);
  background-color: rgba(132, 222, 189, 0.6499999762);
  border-radius: 12.2rem;
}
.home-6Pi .auto-group-gj56-S6C .image-1-aCx {
  width: 118.1rem;
  height: 86.1rem;
  position: absolute;
  left: 85.6rem;
  top: 30.8rem;
  object-fit: cover;
  vertical-align: top;
}
.home-6Pi .auto-group-gj56-S6C .a-bit-about-me-H7N {
  width: 44.3rem;
  height: 7.8rem;
  position: absolute;
  left: 102rem;
  top: 165.4rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-6Pi .auto-group-gj56-S6C .student-at-crescent-institute-of-technology-malleability-person-i-like-to-do-self-portrait-ABA {
  width: 72.9rem;
  height: 46.6rem;
  position: absolute;
  left: 108.1rem;
  top: 185rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.home-6Pi .auto-group-gj56-S6C .dot-1-daY {
  width: 21rem;
  height: 17.8rem;
  position: absolute;
  left: 91.5rem;
  top: 180.5rem;
  object-fit: cover;
  vertical-align: top;
}
.home-6Pi .auto-group-gj56-S6C .dot-2-ZDJ {
  width: 21rem;
  height: 17.8rem;
  position: absolute;
  left: 91.5rem;
  top: 202.8rem;
  object-fit: cover;
  vertical-align: top;
}
.home-6Pi .auto-group-gj56-S6C .dot-3-VMr {
  width: 21rem;
  height: 17.8rem;
  position: absolute;
  left: 91.6rem;
  top: 218.5rem;
  object-fit: cover;
  vertical-align: top;
}
.home-6Pi .auto-group-svvn-chN {
  margin: 0rem 16.4rem 12.4rem 11.9rem;
  width: calc(100% - 28.3rem);
  height: 83.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-6Pi .auto-group-svvn-chN .auto-group-kpua-XJY {
  margin: 8.7rem 24.4rem 3.2rem 0rem;
  box-sizing: border-box;
  padding: 51.1rem 3rem 2rem 3rem;
  width: 85.2rem;
  height: calc(100% - 11.9rem);
  filter: blur(12.5rem);
  background-color: rgba(83, 78, 131, 0.5);
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-6Pi .auto-group-svvn-chN .auto-group-kpua-XJY .programming-languages-1Di {
  max-width: 49.4rem;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-6Pi .auto-group-svvn-chN .auto-group-kpua-XJY .programming-languages-1Di .programming-languages-1Di-sub-0 {
}
.home-6Pi .auto-group-svvn-chN .auto-group-kpua-XJY .programming-languages-1Di .programming-languages-1Di-sub-1 {
  font-size: 7.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-6Pi .auto-group-svvn-chN .auto-group-rljc-9z8 {
  width: 89.4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-6Pi .auto-group-svvn-chN .auto-group-rljc-9z8 .rectangle-4-WJt {
  width: 85.2rem;
  height: 71.3rem;
  position: absolute;
  left: 0;
  top: 11.9rem;
  filter: blur(25rem);
  background-color: #534e83;
  border-radius: 5rem;
}
.home-6Pi .auto-group-svvn-chN .auto-group-rljc-9z8 .skill1-1Fe {
  width: 85.3rem;
  height: 78.6rem;
  position: absolute;
  left: 4.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.home-6Pi .auto-group-svvn-chN .auto-group-rljc-9z8 .fs-huA {
  width: 64.4rem;
  height: 27.4rem;
  position: absolute;
  left: 12.8rem;
  top: 11.9rem;
  object-fit: cover;
  vertical-align: top;
}
.home-6Pi .auto-group-svvn-chN .auto-group-rljc-9z8 .figma-photoshop-basics-ztG {
  width: 38.8rem;
  height: 27.3rem;
  position: absolute;
  left: 12.8rem;
  top: 49.6rem;
  font-size: 7.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-6Pi .auto-group-bbke-Gat {
  margin: 0rem 11.2rem 22.2rem 0rem;
  box-sizing: border-box;
  padding: 6.5rem 17.6rem;
  width: 205.7rem;
  height: 316.9rem;
  filter: blur(25rem);
  background-color: rgba(207, 135, 135, 0.3199999928);
  border-radius: 8.8rem;
  flex-shrink: 0;
}
.home-6Pi .auto-group-bbke-Gat .h-m1r {
  width: 10.4rem;
  height: 17.5rem;
  object-fit: cover;
  vertical-align: top;
}
.home-6Pi .auto-group-yjek-FBv {
  margin: 0rem 16.4rem 0rem 12.4rem;
  width: calc(100% - 28.8rem);
  height: 19rem;
  position: relative;
  flex-shrink: 0;
}
.home-6Pi .auto-group-yjek-FBv .footer-xME {
  width: 198.5rem;
  height: 17.8rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  filter: blur(2.5rem);
  background-color: rgba(0, 0, 0, 0.0799999982);
  border-radius: 5rem;
}
.home-6Pi .auto-group-yjek-FBv .ellipse-1-sUC {
  width: 15.9rem;
  height: 17.1rem;
  position: absolute;
  left: 5.3rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-6Pi .auto-group-yjek-FBv .ellipse-3-1KW {
  width: 15.9rem;
  height: 17.1rem;
  position: absolute;
  left: 57.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-6Pi .auto-group-yjek-FBv .ellipse-4-9Ri {
  width: 15.9rem;
  height: 17.1rem;
  position: absolute;
  left: 84.2rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-6Pi .auto-group-yjek-FBv .image-2-6Lx {
  width: 12.4rem;
  height: 14.7rem;
  position: absolute;
  left: 7rem;
  top: 1.2rem;
  object-fit: cover;
  vertical-align: top;
}
.home-6Pi .auto-group-yjek-FBv .ellipse-2-1Tv {
  width: 15.9rem;
  height: 17.1rem;
  position: absolute;
  left: 30.7rem;
  top: 1.9rem;
  object-fit: contain;
  vertical-align: top;
}
.home-6Pi .auto-group-yjek-FBv .rectangle-5-Lm6 {
  width: 12.9rem;
  height: 15.2rem;
  position: absolute;
  left: 32.2rem;
  top: 2.5rem;
  object-fit: cover;
  vertical-align: top;
}
