
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 227.3rem;
}.home-anL {
  box-sizing: border-box;
  padding-bottom: 22.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #6e6e6e;
}
.home-anL .auto-group-r7pw-C32 {
  margin: 0rem 0.792rem 11.5rem 0rem;
  width: 282.708rem;
  height: 357rem;
  position: relative;
  flex-shrink: 0;
}
.home-anL .auto-group-r7pw-C32 .taskbar-pyW {
  width: 168.9rem;
  height: 14.4rem;
  position: absolute;
  left: 23.6rem;
  top: 5.8rem;
  background-color: #676767;
}
.home-anL .auto-group-r7pw-C32 .gradian-k6U {
  width: 238.1318rem;
  height: 188.2081rem;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(50rem);
  background-color: rgba(204, 89, 151, 0.3199999928);
}
.home-anL .auto-group-r7pw-C32 .home-GqW {
  width: 25.6rem;
  height: 8.8rem;
  position: absolute;
  left: 33.6rem;
  top: 8.4rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
}
.home-anL .auto-group-r7pw-C32 .about-Qwi {
  width: 25.6rem;
  height: 8.8rem;
  position: absolute;
  left: 70.6rem;
  top: 8.5rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
}
.home-anL .auto-group-r7pw-C32 .blog-AR6 {
  width: 25.6rem;
  height: 8.8rem;
  position: absolute;
  left: 112.6rem;
  top: 9.1rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
}
.home-anL .auto-group-r7pw-C32 .contact-VTN {
  width: 34rem;
  height: 8.8rem;
  position: absolute;
  left: 150.6rem;
  top: 8.4rem;
  background-color: #d9d9d9;
  border-radius: 3rem;
}
.home-anL .auto-group-r7pw-C32 .home-pEk {
  width: 17.9rem;
  height: 7.8rem;
  position: absolute;
  left: 37.6rem;
  top: 9.2rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-anL .auto-group-r7pw-C32 .about-gnk {
  width: 18.2rem;
  height: 7.8rem;
  position: absolute;
  left: 74.6rem;
  top: 9.6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-anL .auto-group-r7pw-C32 .skills-QTr {
  width: 15.5rem;
  height: 7.8rem;
  position: absolute;
  left: 117.6rem;
  top: 9.2rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-anL .auto-group-r7pw-C32 .blog-XHa {
  width: 13.5rem;
  height: 7.8rem;
  position: absolute;
  left: 159.5rem;
  top: 8.9rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-anL .auto-group-r7pw-C32 .intro-Ehn {
  width: 96.4rem;
  height: 91.6rem;
  position: absolute;
  left: 11.2rem;
  top: 50.4rem;
  filter: blur(37.5rem);
  background-color: #d15c5c;
}
.home-anL .auto-group-r7pw-C32 .hey-there-im-jayasree-student-designer-xNt {
  width: 71.4rem;
  height: 50.5rem;
  position: absolute;
  left: 14rem;
  top: 53.6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-anL .auto-group-r7pw-C32 .hey-there-im-jayasree-student-designer-xNt .hey-there-im-jayasree-student-designer-xNt-sub-0 {
  font-size: 12.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-anL .auto-group-r7pw-C32 .hey-there-im-jayasree-student-designer-xNt .hey-there-im-jayasree-student-designer-xNt-sub-1 {
}
.home-anL .auto-group-r7pw-C32 .hey-there-im-jayasree-student-designer-xNt .hey-there-im-jayasree-student-designer-xNt-sub-2 {
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-anL .auto-group-r7pw-C32 .hey-there-im-jayasree-student-designer-xNt .hey-there-im-jayasree-student-designer-xNt-sub-3 {
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.home-anL .auto-group-r7pw-C32 .rectangle-1-JNC {
  width: 163.6471rem;
  height: 151.8rem;
  position: absolute;
  left: 62.8609rem;
  top: 116.9rem;
  filter: blur(25rem);
  background-color: rgba(132, 222, 189, 0.6499999762);
  border-radius: 12.2rem;
}
.home-anL .auto-group-r7pw-C32 .image-1-cdn {
  width: 118.1rem;
  height: 86.1rem;
  position: absolute;
  left: 85.6rem;
  top: 30.8rem;
  object-fit: cover;
  vertical-align: top;
}
.home-anL .auto-group-r7pw-C32 .a-bit-about-me-9Np {
  width: 44.3rem;
  height: 7.8rem;
  position: absolute;
  left: 102rem;
  top: 165.4rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-anL .auto-group-r7pw-C32 .student-at-crescent-institute-of-technology-malleability-person-i-like-to-do-self-portrait-e4g {
  width: 72.9rem;
  height: 46.6rem;
  position: absolute;
  left: 108.1rem;
  top: 185rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.home-anL .auto-group-r7pw-C32 .dot-1-X8U {
  width: 21rem;
  height: 17.8rem;
  position: absolute;
  left: 91.5rem;
  top: 180.5rem;
  object-fit: cover;
  vertical-align: top;
}
.home-anL .auto-group-r7pw-C32 .dot-2-48Q {
  width: 21rem;
  height: 17.8rem;
  position: absolute;
  left: 91.5rem;
  top: 202.8rem;
  object-fit: cover;
  vertical-align: top;
}
.home-anL .auto-group-r7pw-C32 .dot-3-PAg {
  width: 21rem;
  height: 17.8rem;
  position: absolute;
  left: 91.6rem;
  top: 218.5rem;
  object-fit: cover;
  vertical-align: top;
}
.home-anL .auto-group-r7pw-C32 .unsplash-fkddmpkvv9u-7Ma {
  width: 78.3rem;
  height: 72.8rem;
  position: absolute;
  left: 9.6rem;
  top: 156.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 100rem;
}
.home-anL .auto-group-e9di-bXe {
  margin: 0rem 16.4rem 12.4rem 11.9rem;
  width: calc(100% - 28.3rem);
  height: 83.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-anL .auto-group-e9di-bXe .auto-group-xdzg-Vd2 {
  margin: 8.7rem 22.7rem 3.2rem 0rem;
  width: 86.9rem;
  height: calc(100% - 11.9rem);
  position: relative;
  flex-shrink: 0;
}
.home-anL .auto-group-e9di-bXe .auto-group-xdzg-Vd2 .skill1-o7v {
  width: 85.2rem;
  height: 71.3rem;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(12.5rem);
  background-color: rgba(83, 78, 131, 0.5);
  border-radius: 5rem;
}
.home-anL .auto-group-e9di-bXe .auto-group-xdzg-Vd2 .programming-languages-hyz {
  width: 49.4rem;
  height: 18.2rem;
  position: absolute;
  left: 3rem;
  top: 51.1rem;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-anL .auto-group-e9di-bXe .auto-group-xdzg-Vd2 .programming-languages-hyz .programming-languages-hyz-sub-0 {
}
.home-anL .auto-group-e9di-bXe .auto-group-xdzg-Vd2 .programming-languages-hyz .programming-languages-hyz-sub-1 {
  font-size: 7.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-anL .auto-group-e9di-bXe .auto-group-xdzg-Vd2 .c-Fe8 {
  width: 68.4rem;
  height: 40.5rem;
  position: absolute;
  left: 18.5rem;
  top: 1.1rem;
  object-fit: cover;
  vertical-align: top;
}
.home-anL .auto-group-e9di-bXe .auto-group-yzhs-Bng {
  width: 89.4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-anL .auto-group-e9di-bXe .auto-group-yzhs-Bng .rectangle-4-LQg {
  width: 85.2rem;
  height: 71.3rem;
  position: absolute;
  left: 0;
  top: 11.9rem;
  filter: blur(25rem);
  background-color: #534e83;
  border-radius: 5rem;
}
.home-anL .auto-group-e9di-bXe .auto-group-yzhs-Bng .skill1-57N {
  width: 85.3rem;
  height: 78.6rem;
  position: absolute;
  left: 4.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.home-anL .auto-group-e9di-bXe .auto-group-yzhs-Bng .fs-DDa {
  width: 64.4rem;
  height: 27.4rem;
  position: absolute;
  left: 12.8rem;
  top: 11.9rem;
  object-fit: cover;
  vertical-align: top;
}
.home-anL .auto-group-e9di-bXe .auto-group-yzhs-Bng .figma-photoshop-basics-kUQ {
  width: 38.8rem;
  height: 27.3rem;
  position: absolute;
  left: 12.8rem;
  top: 49.6rem;
  font-size: 7.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-anL .auto-group-d2rv-rXS {
  margin: 0rem 11.6rem 12.6rem 5.2rem;
  width: calc(100% - 16.8rem);
  height: 326.5rem;
  position: relative;
  flex-shrink: 0;
}
.home-anL .auto-group-d2rv-rXS .blog-nR6 {
  width: 205.7rem;
  height: 316.9rem;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(25rem);
  background-color: rgba(207, 135, 135, 0.3199999928);
  border-radius: 8.8rem;
}
.home-anL .auto-group-d2rv-rXS .h-ukc {
  width: 10.4rem;
  height: 17.5rem;
  position: absolute;
  left: 17.6rem;
  top: 6.5rem;
  object-fit: cover;
  vertical-align: top;
}
.home-anL .auto-group-d2rv-rXS .ello-and-welcome-to-my-personal-blog-here-i-will-be-sharing-my-thoughts-and-experiences-as-a-professional-in-my-field-as-well-as-showcasing-some-of-my-recent-work-and-projects-one-of-my-recent-projects-involved-the-development-of-a-new-website-for-a-client-this-project-involved-collaborating-closely-with-the-client-to-understand-their-needs-and-requirements-as-well-as-conducting-extensive-research-to-ensure-that-the-website-was-both-user-friendly-and-visually-appealing-through-this-project-i-was-able-to-showcase-my-skills-in-project-management-communication-and-web-development-as-well-as-my-ability-to-work-collaboratively-with-clients-and-other-stakeholders-as-i-continue-to-grow-and-develop-in-my-career-i-am-excited-to-take-on-new-challenges-and-opportunities-and-to-continue-building-my-skills-and-expertise-thank-you-for-taking-the-time-to-read-my-blog-and-i-look-forward-to-connectingwithyousoon-TGL {
  width: 192.3rem;
  height: 314.3rem;
  position: absolute;
  left: 18.2rem;
  top: 12.2rem;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.home-anL .auto-group-fmdj-yGc {
  margin: 0rem 16.4rem 0rem 12.4rem;
  width: calc(100% - 28.8rem);
  height: 19rem;
  position: relative;
  flex-shrink: 0;
}
.home-anL .auto-group-fmdj-yGc .footer-gwi {
  width: 198.5rem;
  height: 17.8rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  filter: blur(2.5rem);
  background-color: rgba(0, 0, 0, 0.0799999982);
  border-radius: 5rem;
}
.home-anL .auto-group-fmdj-yGc .ellipse-1-1j6 {
  width: 15.9rem;
  height: 17.1rem;
  position: absolute;
  left: 5.3rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-anL .auto-group-fmdj-yGc .ellipse-3-Mnx {
  width: 15.9rem;
  height: 17.1rem;
  position: absolute;
  left: 57.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-anL .auto-group-fmdj-yGc .ellipse-4-uZa {
  width: 15.9rem;
  height: 17.1rem;
  position: absolute;
  left: 84.2rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-anL .auto-group-fmdj-yGc .image-2-FtL {
  width: 12.4rem;
  height: 14.7rem;
  position: absolute;
  left: 7rem;
  top: 1.2rem;
  object-fit: cover;
  vertical-align: top;
}
.home-anL .auto-group-fmdj-yGc .ellipse-2-PzY {
  width: 15.9rem;
  height: 17.1rem;
  position: absolute;
  left: 30.7rem;
  top: 1.9rem;
  object-fit: contain;
  vertical-align: top;
}
.home-anL .auto-group-fmdj-yGc .rectangle-5-Xax {
  width: 12.9rem;
  height: 15.2rem;
  position: absolute;
  left: 32.2rem;
  top: 2.5rem;
  object-fit: cover;
  vertical-align: top;
}
